{% extends "admin/base_site.html" %}
{% load staticfiles i18n admin_urls admin_modify %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "admin/themes/css/theme_editor.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "admin/themes/octicons/octicons.min.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />

<script src="{% static "admin/js/vendor/jquery/jquery.min.js" %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static "admin/js/jquery.init.js" %}" type="text/javascript" charset="utf-8"></script>

{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
&rsaquo; {% if has_change_permission %}<a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %}
&rsaquo; <a href="{% url opts|admin_urlname:'change' theme.pk %}">{{ theme|truncatewords:"18" }}</a>
&rsaquo; {% trans 'Theme editor' %}
</div>
{% endblock %}
{% endif %}
