{% extends "admin/django_themes/editor/base.html" %}
{% load staticfiles i18n admin_urls admin_modify %}
{% load humanize %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "admin/themes/css/theme_editor.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "admin/themes/octicons/octicons.min.css" %}" />
{% endblock %}


{% block content %}<div id="content-main" class="theme-editor">
    <div>
    
    <ul class="theme-editor path breadcrumbs">
        {% for part, sub_path in paths %}
            <li>
                <a href="{% url opts|admin_urlname:'theme_editor' theme_id=theme.pk|admin_urlquote path=sub_path %}">{{part}}</a>
            </li>
        {% endfor %}
    </ul>
    
    <div class="theme-editor folder-details">
        <span class="actions">
            <a class="button" href="?action=new">
                <i class="octicon octicon-trashcan"></i> Create new file
            </a>
            <a class="button" href="?action=upload">
                <i class="octicon octicon-cloud-upload"></i> Upload
            </a>
        </span>
    </div>

<hr>

    <table class="theme-editor file-list">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Size
                </th>
                <th>
                    Modified
                </th>
            </tr>
        </thead>
        {% if folders %}
        <tbody>
        {% for folder in folders %}
            <tr>
                <td>
                    <i class="octicon octicon-file-directory"></i>
                    <a href="{% url opts|admin_urlname:'theme_editor' theme_id=theme.pk|admin_urlquote path=folder.path %}">{{folder.name}}</a>
                </td>
                <td>
                    
                </td>
                <td>
                    
                </td>
            </tr>
        {% endfor %}
        </tbody>
        {% endif %}
        {% if files %}
        <tbody>
        {% for file in files %}
            <tr>
                <td>
                    <i class="octicon octicon-file-text"></i>
                    <a href="{% url opts|admin_urlname:'theme_editor' theme_id=theme.pk|admin_urlquote path=file.path %}">{{file.name}}</a>
                </td>
                <td>
                    <span>
                        {{ file.size }}
                    </span>
                </td>
                <td>
                    <span title="{{ file.modified }}">
                        {{ file.modified|naturaltime }}
                    </span>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        {% endif %}
    </table>        

{% block object-tools %}
{% if change %}{% if not is_popup %}
  <ul class="object-tools">
    {% block object-tools-items %}
    <li>
        {% url opts|admin_urlname:'history' original.pk|admin_urlquote as history_url %}
        <a href="{% add_preserved_filters history_url %}" class="historylink">{% trans "History" %}</a>
    </li>
    {% if has_absolute_url %}<li><a href="{{ absolute_url }}" class="viewsitelink">{% trans "View on site" %}</a></li>{% endif %}
    {% endblock %}
  </ul>
{% endif %}{% endif %}
{% endblock %}
<form {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post" id="{{ opts.model_name }}_form" novalidate>{% csrf_token %}{% block form_top %}{% endblock %}
<div>
{% if is_popup %}<input type="hidden" name="{{ is_popup_var }}" value="1" />{% endif %}
{% if to_field %}<input type="hidden" name="{{ to_field_var }}" value="{{ to_field }}" />{% endif %}
{% if save_on_top %}{% block submit_buttons_top %}{% submit_row %}{% endblock %}{% endif %}
{% if errors %}
    <p class="errornote">
    {% if errors|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
    </p>
    {{ adminform.form.non_field_errors }}
{% endif %}


</div>
</form></div>
{% endblock %}
