{% extends "admin/django_themes/editor/file_text_base.html" %}
{% load staticfiles i18n admin_urls admin_modify %}

{% block file_content %}
    <div class="theme-editor file-details">
        <pre>{{file.lines}} lines | {{file.size}}</pre>
        <span class="actions">
            <a class="button" href="{% url 'admin:admin_edit' theme.id path %}">
                <i class="octicon octicon-pencil"></i> Edit
            </a>
            <a class="button delete" href="{% url 'admin:admin_delete' theme.id path %}">
                <i class="octicon octicon-trashcan"></i> Delete
            </a>
        </span>
    </div>

    <div id="ace-holder">

    <textarea class="theme-editor editor" name="file_editor" data-editor="{{file.ext}}" rows="15">{{file.contents}}</textarea>

    </div>
{% endblock %}

{% block ace_options %}
editor.setOptions({
    readOnly: true,
    highlightActiveLine: false,
})
editor.renderer.setOptions({
    showGutter: true,
    showPrintMargin: true,
});
editor.session.setOptions({
    useWorker: false,
});
{% endblock %}
